<STYLE TEXT="text/css">

     body {}

   a:link {text-decoration: none;
           color: #A64500}
a:visited {text-decoration: none;
           color: #A64500}
 a:active {text-decoration: none;
           color: #000000}
  a:hover {text-decoration: none;
           color: #000000}

        p {font-family: arial;
           text-align: justify;
		   font-size: 10pt;
		   margin-left: 4;
		   margin-right: 14}

       td {font-family: arial;
		   font-size: 10pt}

  .indent {font-family: arial;
           text-align: justify;
		   font-size: 10pt;
		   margin-left: 22;
		   margin-right: 14}

.indentsub {font-family: arial;
           text-align: justify;
		   font-size: 10pt;
		   margin-left: 40;
		   margin-right: 14}

    .menu {font-family: arial;
           font-weight: bold;
		   font-size: 10pt}

   .amenu:link {color: #004A80}
.amenu:visited {color: #004A80}
 .amenu:active {color: #000000}
  .amenu:hover {color: #000000}

     .top {font-family: arial;
           text-align: center;
		   font-size: 8pt}

     .bar {font-family: arial;
           font-weight: bold;
 		   font-size: 11pt;
		   color: #002540}

   .title {font-family: arial;
           font-weight: bold;
		   font-size: 11pt;
           margin-left: 4;
           color: #ffaC59}

.titlesub {font-family: arial;
           font-weight: bold;
		   font-size: 10pt;
           margin-left: 22;
           color: #ffaC59}

   .entry {font-family: arial;
           font-weight: bold;
		   font-size: 11pt;
           color: #2377B3}

.entryold {font-family: arial;
           font-weight: bold;
		   font-size: 11pt;
           color: #98BAD2}

   .value {font-family: arial;
		   font-style: italic;
		   font-size: 10pt;
           color: #2377B3}

    .text {font-family: arial;
           text-align: justify;
		   font-size: 10pt;
		   margin-right: 4}

   .small {font-family: arial;
		   font-style: italic;
		   font-size: 8pt;
           color: #b3b3b3}

 .missing {font-family: arial;
		   font-size: 10pt;
           color: #D9C6B8}
		   
</STYLE>
<!--
     FILE ARCHIVED ON 13:50:40 Jan 12, 2005 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 11:22:10 Aug 30, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
-->
<!--
playback timings (ms):
  esindex: 0.009
  exclusion.robots: 0.143
  captures_list: 38.313
  exclusion.robots.policy: 0.133
  load_resource: 94.15
  PetaboxLoader3.resolve: 85.29
  LoadShardBlock: 21.651 (3)
  RedisCDXSource: 2.993
  CDXLines.iter: 11.477 (3)
  PetaboxLoader3.datanode: 28.728 (4)
-->